<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzyl.mapper.MemberMapper">
    <resultMap id="BaseResultMap" type="com.zzyl.entity.Member">
        <id column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="name" property="name"/>
        <result column="avatar" property="avatar"/>
        <result column="open_id" property="openId"/>
        <result column="gender" property="gender"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, phone, name, avatar, open_id, gender, create_by, update_by,create_time
    </sql>

    <!-- 新增一条数据 -->
    <insert id="save" parameterType="com.zzyl.entity.Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (phone, name, avatar, open_id, gender, create_time, update_time, create_by, update_by, remark)
        VALUES (#{phone}, #{name}, #{avatar}, #{openId}, #{gender}, #{createTime}, #{updateTime}, #{createBy}, #{updateBy}, #{remark})
    </insert>

    <!-- 根据主键id更新数据，更新时对参数是否为空做校验 -->
    <update id="update" parameterType="com.zzyl.entity.Member" useGeneratedKeys="true" keyProperty="id">
        UPDATE member
        <set>
            <if test="phone != null and phone.trim() ne ''">phone = #{phone},</if>
            <if test="name != null and name.trim() ne ''">name = #{name},</if>
            <if test="avatar != null and avatar.trim() ne ''">avatar = #{avatar},</if>
            <if test="openId != null and openId.trim() ne ''">open_id = #{openId},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null and remark.trim() ne ''">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 根据open_id查询数据 -->
    <select id="getByOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List"/>
        FROM member
        WHERE open_id = #{openId}
    </select>

</mapper>